@*@model IEnumerable<BookStoreUI.Models.BookModel>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>


    $.ajax({
        type: "GET",
        url: "http://localhost:24552/api/Books",
        data: "{}",
        success: function (data) {
            try {
                debugger;
                let option;
                if (data.length <= 0) {
                    $("#btnCandidateDetails").hide();
                    alert("No prefered Language added in system add it first");
                } else {
                    $("#btnCandidateDetails").show();
                    for (let i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i].languageId + '">' + data[i].languageName + '</option>';
                    }
                    $("#candidatePreferedLanguageId").html(option);

                }

            } catch (e) {
                alert("Error in Adding Languages to Dropdown" + e.message);

            }
        },
        error: function (request, status, errorThrown) {
            alert("Error in getting all Languages");
        }

    });

</script>